<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAVEwNRpEM_vkh54GP7PGXix06LYMlR5I</string>
	<key>GCM_SENDER_ID</key>
	<string>24696551862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoTrip.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecotrip-fa37a</string>
	<key>STORAGE_BUCKET</key>
	<string>ecotrip-fa37a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24696551862:ios:b6e03d19b6f9cbb13ae917</string>
</dict>
</plist>